<div class="card" style="">
  <h5 class="card-title" style="text-align:center;"> Welcome to Railsbook, <%= current_user.first_name %>.</h5>
  <%= form_for :post do |form| %>
    <div class="">
      <div class="col-auto" style="width:33%;margin-bottom:10px;margin-top:10px;">
        <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>
      <div style="display:flex;align-items: center;">
        <div class="col-auto" style="flex-grow: 1;">
          <%= form.text_area :body, class: "form-control", placeholder: "What's on your mind?" %>
        </div>
        <div class="" style="margin-left:10px;padding-top:15px;padding-bottom:15px;">
          <%= form.submit :class => 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>